<%= form_for([:admin, @slide], html: {multipart:true}) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
  <div class="field">
      <%= f.label :desc %><br>
    <%= f.text_area :desc %>
    </div>
  <div class="field">
      <%= f.label :author %><br>
    <%= f.text_area :author %>
    </div>
  <div class="field">
      <%= f.label :picture %><br>
    <%= f.file_field :picture %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
