<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @slide.desc %>
</p>

<p>
  <strong>Author:</strong>
  <%= @slide.author %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @slide.picture %>
</p>

<%= link_to 'Edit', edit_admin_slide_path(@slide) %> |
<%= link_to 'Back', admin_slides_path %>
